---
import '../../globals.scss';
import '../../styles.scss';
import '../../themes.scss';
---

<div>
    <section>
        <h3>Overview</h3>
        <div>
            <p>
                TFConnect is a <span>charity fundraising organization</span> that hosts annual
                community livestream events focused on gaming content. Since 2018, it has
                <span>raised over $110,000</span> in support of various charities
                such as <a href="https://specialeffect.org.uk/">SpecialEffect</a>. TFConnect is entirely Volunteer-based
                and has over 100+ Creative Professionals, YouTube influencers and E-Sport Professionals involved with
                its organization.
            </p>
            <p>
                <span>As Project Lead / Lead Product Designer</span> I played a role in nearly the entire production of
                the event, but my main responsibilities were <span>running weekly meetings & workshops</span> to
                improve teamwork and team knowledge, <span>designing the website</span> & collaborating with our front
                & backend developers, <span>helping produce the live show</span> & managing project expenses/finances,
                and <span>designing various stream widgets</span> that the production team utilized during the live
                broadcast, along with <span>creating promotional graphics</span> made in preparation and on-location
                based on our needs, <span>running our merchandise store in collaboration with our artists,</span> and
                general <span>project management, community engagement & graphic design</span>
                responsibilities.
            </p>
            <p>
                The latest event took place between December 16th-17th 2023, and
                <span>raised $34,250 USD to Charity,</span>
                on-location in Snowy <a href="https://g.co/kgs/NPJxCKx" target="_blank">Jönköping Sweden</a>.
            </p>
        </div>
    </section>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        margin-top: 3rem;
        margin-inline: 5%;
        @apply px-6;
        max-width: 855px;
    }

    h3 {
        font-size: var(--h6) !important;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }

    p {
        font-size: 1.1rem !important;
        font-weight: 500;
        line-height: 1.8rem;
        color: var(--text-50);
        margin-bottom: 2rem;
    }

    p span {
        color: var(--text);
    }

    p a {
        color: var(--accent);
    }

    div {
        width: 100%;
    }

</style>