---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import ContentCard from "./ContentCard.astro";
import ShotsTemp from "../images/251shots_so.png"
import Shots207 from "../images/207shots_so.png"
import Shots208 from "../images/208shots_so.png"
import Shots209 from "../images/209shots_so.png"
---


<div id="contentContainer">

    <section id="cards">
        <ContentCard alt="The TFConnect website"
                     src={Shots207}
                     underLabel="TFConnect Website"
                     date="Nov 2023"
                     href=https://www.tfconnect.org
        />
        <ContentCard alt="The TF:S2 project branding"
                     src={Shots209}
                     underLabel="Amper Software - TF:S2"
                     date="Nov 2023"
                     href=https://twitter.com/TeamFortressS2
        />
        <ContentCard alt="Redesign of the Nine Inch Nails Album 'Pretty Hate Machine'."
                     src={Shots208}
                     underLabel="CD Cover Redesign (Assignment)"
                     date="Nov 2023"
        />
        <ContentCard alt="'work in progress' cover. Temporary."
                     src={ShotsTemp}
                     underLabel="Temporary Work Collection"
                     date="Nov 2023"
                     href=https://www.behance.net/gallery/191861431/TEMPORARY-Workfolio
        />


    </section>
</div>

<style>

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 1rem;
        grid-template-areas:
    ". . . "
    ". . .";

    }

    @media screen and (max-width: 1308px) {
        section {
            grid-template-columns: 1fr 1fr;
            gap: 1rem 1rem;
            grid-template-areas:
    ". ."
    ". .";
        }
    }

    @media screen and (max-width: 768px) {
        section {
            grid-template-columns: 1fr;
            gap: 1rem 1rem;
            grid-template-areas:
    "."
    ".";
        }
    }


</style>