---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import ContentCard from "./ContentCard.astro";
---


<div id="contentContainer">
    <section id="cards">
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>
        <ContentCard alt="Alt text!"/>


    </section>
</div>

<style>

    section {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        gap: 0.5rem 0.5rem;
        grid-template-areas:
    ". . "
    ". .";

    }

    @media screen and (max-width: 768px) {
        section {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
        }
    }



</style>