---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import ContentCard from "./ContentCard.astro";
import ShotsTemp from "../images/251shots_so.png"
import Shots207 from "../images/207shots_so.png"
import Shots208 from "../images/208shots_so.png"
import Shots209 from "../images/209shots_so.png"
---


<div id="contentContainer">
    <section id="cards">
        <ContentCard alt="Screenshot of the TFConnect website"
                     src={Shots207}
                     underLabel="TFConnect Website"
                     description="UIUX, Web Design"
                     href=https://www.tfconnect.org
        />
        <ContentCard alt="Image of the TF:S2 project branding"
                     src={Shots209}
                     underLabel="Amper Software - TF:S2"
                     description="Game UI Design, Brand Design"
                     href=https://twitter.com/TeamFortressS2
        />
        <ContentCard alt="Redesign of the Nine Inch Nails Album 'Pretty Hate Machine'."
                     src={Shots208}
                     underLabel="NIN - Pretty Hate Machine (Assignment)"
                     description="Composition"
                     href='#'
        />
        <ContentCard alt="Image with the lettering 'work in progress'"
                     src={ShotsTemp}
                     underLabel="Temporary Work Collection"
                     description="Other, Behance"
                     href=https://www.behance.net/gallery/191861431/TEMPORARY-Workfolio
        />


    </section>
</div>

<style>

    section {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem 1rem;
        grid-template-areas:
    ". . "
    ". .";

    }

    @media screen and (max-width: 768px) {
        section {
            display: flex;
            gap: 2rem;
            flex-direction: column;
        }
    }


</style>