---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';

const {src, alt, ariaDesc} = Astro.props;

---

<div class="contentCard">
 <img src={src} alt={alt} aria-description={ariaDesc}>
</div>


<style>

    .contentCard {
        width: 100%;
       @apply rounded-md;
     border: solid $text 1px;
     @apply bg-slate-500/20
     aspect-ratio: 16/9;

    }
</style>