---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import ContentCard from "./ContentCard.astro";
---


<div id="contentContainer">
    <section id="cards">
        <ContentCard alt="Alt text!"
                     src=https://clan.cloudflare.steamstatic.com/images/27920370/ec66062558060998ca1eb3e1d9b91c91b4c95fc0.png
                     underLabel="Amper Software - TF:S2"
                     description="UI Design"
        />
        <ContentCard alt="Alt text!"
                     src=https://clan.cloudflare.steamstatic.com/images/27920370/ec66062558060998ca1eb3e1d9b91c91b4c95fc0.png
                     underLabel="TFConnect Website"
                     description="Web Design, Web Development"
        />
        <ContentCard alt="Alt text!"
                     src=https://clan.cloudflare.steamstatic.com/images/27920370/ec66062558060998ca1eb3e1d9b91c91b4c95fc0.png
                     underLabel="Text"
        />
        <ContentCard alt="Alt text!"
                     src=https://clan.cloudflare.steamstatic.com/images/27920370/ec66062558060998ca1eb3e1d9b91c91b4c95fc0.png
                     underLabel="Text"
        />


    </section>
</div>

<style>

    section {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem 0.5rem;
        grid-template-areas:
    ". . "
    ". .";

    }

    @media screen and (max-width: 768px) {
        section {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
        }
    }


</style>