---

import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import ContentCard from "./ContentCard.astro";
---




<div id="contentContainer">
   <h2>Hey there!</h2>
    <h5>Wowzers!</h5>
    <p>This is an accompanying paragraph.</p>
    <section>
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />
        <ContentCard />

    </section>
</div>