---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import ContentCard from "./ContentCard.astro";
import ShotsTemp from "../images/251shots_so.png"
import Shots222 from "../images/222shots_so.png"
import Shots209 from "../images/209shots_so.png"
---


<div id="contentContainer">

    <section id="cards">
        <ContentCard alt="The TFConnect website"
                     src={Shots222}
                     underLabel="TFConnect Website"
                     date="Dec 2023"
                     href="/study/tfconnect/"
                     target="_self"
        />
        <ContentCard alt="Team Fortress Source 2"
                     src={Shots209}
                     underLabel="Amper Software - TF:S2"
                     date="Feb 2021-Jan 2024"
                     href="/study/amper/"
                     target="_self"
        />
        <ContentCard alt="'work in progress' cover. Temporary."
                     src={ShotsTemp}
                     underLabel="Temporary Work Collection"
                     date=""
                     target="_blank"
                     href=https://www.behance.net/gallery/191861431/TEMPORARY-Workfolio
        />


    </section>
</div>

<style>

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 1rem;
        grid-template-areas:
    ". . . "
    ". . .";

    }

    @media screen and (max-width: 1308px) {
        section {
            grid-template-columns: 1fr 1fr;
            gap: 1rem 1rem;
            grid-template-areas:
    ". ."
    ". .";
        }
    }

    @media screen and (max-width: 768px) {
        section {
            grid-template-columns: 1fr;
            gap: 1rem 1rem;
            grid-template-areas:
    "."
    ".";
        }
    }


</style>