---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
---

<div class="contentCard">

</div>


<style>

    .contentCard {
        width: 100%;
        height: 5rem;
    }

</style>