---

import Languages from "./Languages.astro";
import ThemeSwitch from "./ThemeSwitch.astro";---
<footer>
        <a href="#">Link</a>
</footer>

<style>

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: space-between;

        width: auto;
        padding: 1rem 12%;

        border-top: dotted 1px rgba(0, 0, 0, 0.25);
    }



</style>