---
import ThemeSwitch from "./ThemeSwitch.astro";
import Languages from "./Languages.astro";

import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
---

<header>

    <div class="" id="portfolioName"><h6 class="font-bold">Shachar MW</h6></div>
    <div class="" id="navContainer">
        <!--<Languages />-->
        <ThemeSwitch class=""/>
        <div class="emailContainer" id="emailHeader">
            <a href="mailto:info@cheddzy.com">artcheddzy@gmail.com</a>
        </div>
    </div>
</header>