---
import ThemeSwitch from "./ThemeSwitch.astro";
import Languages from "./Languages.astro";

import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
---

<header>

    <div class="" id="portfolioName"><h6 class="font-bold">shachar.design</h6></div>
    <div class="" id="navContainer">
        <Languages />
        <ThemeSwitch class=""/>
        <div class="" id="emailContainer">
            <a href="mailto:info@cheddzy.com">info@cheddzy.com</a>
        </div>
    </div>
</header>