---
import ThemeSwitch from "./ThemeSwitch.astro";
import Languages from "./Languages.astro";

import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
---

<header>

    <div class="" id="portfolioName"><h6 class="font-bold"><a href="/">Shachar MW</a></h6>
        <!--<small class="text-gray-400">*under construction</small>-->
    </div>
    <div class="" id="navContainer">
        <!--<Languages />-->
        <ThemeSwitch class=""/>
        <div class="emailContainer" id="emailHeader">
            <a target="_blank" href="mailto:info@cheddzy.com">artcheddzy@gmail.com</a>
        </div>
    </div>
</header>

<style>
    header {
        background-color: var(--bg);
        z-index: 1;
    }

</style>