---
import '../globals.scss';
import '../styles.scss';
import '../themes.scss';
import { ChevronDown } from '@astropub/icons'
import ContentCard from "./ContentCard.astro";
---


<div id="languageContainer" class="group">
    <button class="group" id="languageSwitch">
        <a href="/./il/home/" target="_self">
        <svg id="l-214" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-languages">
            <path d="m5 8 6 6"/>
            <path d="m4 14 6-6 2-3"/>
            <path d="M2 5h12"/>
            <path d="M7 2h1"/>
            <path d="m22 22-5-10-5 10"/>
            <path d="M14 18h6"/>
        </svg>
        </a>
        <ChevronDown class="chevron group group-hover:rotate-180 transition-transform duration-200" id="c-213" size="24"
                     stroke-width="5pt"/>
    </button>
    <ul id="langaugeSelection" class="group">
        <li>
            <button disabled id="en">
               English
            </button>
        </li>
        <li>
            <button id="il">
                <a href="/./il/home/" target="_self">Hebrew</a>
            </button>
        </li>
    </ul>
</div>

<style>

    ul {
        top: -60px;

        position: absolute;
        height: fit-content;
        @apply px-3;
        @apply py-1;

        @apply rounded-md;
        @apply transition-all;
        @apply duration-200;

        border: solid var(--text-25) 1px;
        color: $text;
        z-index: 2;
        opacity: 0;
    }

    #languageContainer:hover ul {
        top: 50px;
        opacity: 1;
    }
    a {

    }



    #languageSwitch {
        @apply px-3;
        @apply py-1;
        @apply rounded-md;
        @apply transition-colors;
        @apply duration-200;

        border: solid transparent 1px;
        color: $text;
        background-color: var(--bg);
        z-index: 99999;
    }

    #languageSwitch {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #languageSwitch:hover {
        border: solid 1px $text;
        background-color: $text;
    }

    #languageSwitch:hover :is(#c-213, #l-214) {
        color: $bg;
    }
    :where(#en, #il) {
        font-size: 0.8rem;
    }
    :where(#en) {
        opacity: 0.5;
    }
    @media screen and (max-width: 1150px) {
        .chevron {
            display: none;
        }
        ul {
            display: none;
        }
    }

</style>
