---

---



 <script>
     const cursor = document.getElementById('cMouse');

     let posX = 0,
         posY = 0,
         mouseX = 0,
         mouseY = 0;

     setInterval(function () {

         posX += (mouseX - posX) / 9;
         posY += (mouseY - posY) / 9;

         cursor.style.left = (posX - 6) + 'px';
         cursor.style.top = (posY - 6) + 'px';
     }, 10);

     window.addEventListener('mousemove', e => {
         mouseX = e.clientX;
         mouseY = e.clientY;

         console.log(mouseX, mouseY);
     })

     document.addEventListener('mouseover', () => {
         cursor.style.opacity = '1'

     });

 </script>

<!--<div id="circle"></div>-->
<div id="cMouse"></div>

<style>
    #circle {
        position: fixed;
        background: none;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: var(--secondary) solid 1px;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: translate(4px, 4px);
        opacity: 0;
    }

    #cMouse {
        position: fixed;
        background: none;
        backdrop-filter: invert(100%);
        width: 8px;
        height: 8px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: translate(4px, 4px);
        opacity: 0;
    }

    button:hover :is(#circle, #cMouse) {
        transform: scale(1.5);
    }

    img:hover #cMouse {
        width: 16px;
        height: 16px;
    }

</style>