---
import '../../globals.scss';
import '../../styles.scss';
import '../../themes.scss';
---

<div id="detailWrapper">
    <div id="detailGrid">
        <div id="detailClient">
            <h3 class="detailName">Client</h3>
            <a class="detailHeading" href="https://twitter.com/AmperSoftware" target="_blank">Amper Software</a>
        </div>

        <div id="detailRole">
            <h3 class="detailName">Role</h3>
            <p class="detailHeading">UI Designer,</p>
            <p class="detailHeading">Brand Designer</p>
        </div>

        <div id="detailResponsible">
            <h3 class="detailName">Responsibilities</h3>
            <p class="detailHeading">Prototyping,</p>
            <p class="detailHeading">UXUI Direction</p>
            <p class="detailHeading">Visual Design</p>
        </div>
        <div id="detailTimeline">
            <h3 class="detailName">Timeline</h3>
            <p class="detailHeading">N/A</p>
        </div>

        <div id="detailButton">
            <a href="https://twitter.com/TeamFortressS2" target="_blank">
                Check it out ->
            </a>
        </div>
    </div>
</div>

<style>

    #detailWrapper {
        width: 100%;
    }

    #detailGrid {
        margin-inline: 18%;
        display: grid;
        gap: 0;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'Client Role Responsibility Timeline detailButton detailButton';
    }

    #detailClient {
        grid-area: Client;
    }
    #detailClient .detailHeading {
        text-decoration: var(--text-25) underline;
    }

    #detailRole {
        grid-area: Role;
    }

    #detailResponsible {
        grid-area: Responsibility;
    }
    #detailTimeline {
        grid-area: Timeline;
    }

    #detailButton {
        grid-area: detailButton;

            display: flex;
            justify-content: center;
            align-items: center;
    }
    #detailButton a {
        margin: 1rem;
        width: 100%;
        @apply px-12;
        @apply py-4;
        text-align: center;
        @apply rounded-xl;
        @apply transition-all;
        font-weight: 600;
        font-size: 1.2rem;

        letter-spacing: 1px;
        border: 1px solid var(--text-50);
    }
    #detailButton a:hover {
        border: 1px solid var(--text);
        background-color: var(--text);
        color: var(--bg);
    }
    .detailName {
        font-size: 0.9rem !important;
        color: var(--text-50);
        font-weight: 500;
        height: fit-content;
    }
    @media screen and (max-width: 1250px) {

        #detailWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        #detailGrid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                    '. detailButton detailButton .'
                    'Client Responsibility Role Timeline'
                    'Client Responsibility Role Timeline';
            gap: 0 4rem;
            width: 100%;
            margin-inline: 6%;
            align-items: center;
        }
    }

    @media screen and (max-width: 768px) {

        #detailWrapper {
            display: flex;
            justify-content: center;
            align-items: center;

        }
        #detailGrid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                    'detailButton detailButton'
                    'Client Role'
                    'Responsibility Timeline';
            gap: 0 4rem;
            margin-inline: 6%;
        }

        .detailHeading, .detailName {
            font-size: 0.9rem !important;
        }

    }

    #detailClient .detailHeading:hover::after {
        content: '-->';
        opacity: 1;
        transform: translateX(25%);
    }

    #detailClient .detailHeading:hover {
        color: var(--accent);

    }

    #detailClient .detailHeading::after {
        content: '-->';
        opacity: 0;
        position: absolute;
        transform: translateX(-100%);
        @apply transition-all;
    }


</style>