@tailwind components;
@tailwind variants;
@tailwind base;
@import 'globals.scss';

//* {
//  @apply border-2;
//  @apply border-cyan-100;
//}

header {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  width: auto;
  padding: 1rem 12%;

  border-bottom: dotted 1px $accent;
}

header:hover #themeSwitch {
  border: solid 1px $text;
}

header:hover #languageSwitch {
  border: solid 1px $text;
}


#themeSwitch:hover {
  border: solid 1px $text;
  background-color: $text;
  color: $bg;
}


#themeSwitch {
  @apply px-1;
  @apply py-1;
  @apply rounded-md;
  @apply transition-all;
  @apply duration-200;

  border: solid transparent 1px;
  color: $text;
}

#languageSwitch {
  @apply px-1;
  @apply py-1;
  @apply rounded-md;
  @apply transition-all;
  @apply duration-200;

  border: solid transparent 1px;
  color: $text;
}

/*The Chevron Icon*/
#c-213 {
  scale: 0.8;
  min-width: 1rem;
}

/*The Language Icon*/
#l-214 {
  scale: 0.8;
}

#sunIcon {
  scale: 0.8;
}

#languageSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#languageSwitch:hover {
  border: solid 1px $text;
  background-color: $text;
}

#languageSwitch:hover :is(#c-213, #l-214) {
  color: $bg;
}

#navContainer {
  display: flex;
  gap: 1rem;
  align-items: center;

}

#emailContainer a {
  text-decoration: none;

}

#emailContainer a:hover {
  text-decoration: underline;
}

//#navContainer {
//  display: flex;
//  gap: 0.5rem;
//
//  align-items: center;
//}
//
//.navItem :has(a) {
//  background-color: firebrick;
//}


#contentContainer {
  margin-inline: 12%;
  padding: 2rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  color: $text;
}
@media screen and (max-width: 768px) {
  header {
    padding: 0.5rem 6%
  }
  #emailContainer {
    display: none;
  }
  #navContainer {
    gap: 0;
  }
  #languageSwitch {
    margin-right: 1rem;
  }
}

