---
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import MouseTest from "../../components/MouseTest.astro";

import ShowcaseBackButton from "../../components/showcaseTFCO/ShowcaseBackButton.astro";
import ShowcaseTitle from "../../components/showcaseTFCO/ShowcaseTitle.astro";
import ShowcaseThumbnail from "../../components/showcaseTFCO/ShowcaseThumbnail.astro";
import ShowcaseDetails from "../../components/showcaseTFCO/ShowcaseDetails.astro";
import ShowcaseOverview from "../../components/showcaseTFCO/ShowcaseOverview.astro";
import ShowcaseGallery from "../../components/showcaseTFCO/ShowcaseGallery.astro";

import Shots_Temp from '../../images/209shots_so.png'
---

<Layout title="Shachar - Design Portfolio">
    <MouseTest />

    <Header />
    <div id="showcaseWrapper">
        <ShowcaseBackButton />
        <ShowcaseTitle

                src=""
                title1="TFConnect:"
                title2="Charity Project"
                date="December 2023"
                tag1="UXUI"
                tag2="Proj. Management"
                tag3="Product"

        />
        <ShowcaseThumbnail
        src={Shots_Temp}
        alt="Alt"/>

        <ShowcaseDetails />

        <ShowcaseOverview />
        <ShowcaseGallery />

    </div>
    <Footer />
</Layout>

<style>
    #showcaseWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

</style>